*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
    width: 90%;
	max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.banner{
    /*border: 1px solid #000; */
    padding: 10px 0;
}

.banner-card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
	grid-gap: 10px;
}

.banner h2{
    margin-bottom: 50px;
    font-size: 20px;
}

.card{
    background: #49525d;
	box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
    position: relative;
    margin-bottom: 10px;
    padding: 5px 5px;
}

.image-holder{
    height: 300px;
    background-position: top;
    background-size: cover;
}

.text-holder{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo a{
    color: #fff;
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}

.logo p{
    color: #72e1af;
    font-size: 15px;
}

.logo img{
    width: 60px;
    background-color: #fff;
    padding: 5px 5px;
}

.logo div{
    width: 100px;
}

.heart{
    background: url(heart.png);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.banner .card:nth-of-type(1) .image-holder{
    background-image: url(https://flyers.smartcanucks.ca/uploads/pages/224787/maxi-flyer-august-24-to-301-1.jpg);
}

.banner .card:nth-of-type(2) .image-holder{
    background-image: url(https://a.dam-img.rfdcontent.com/cms/009/393/894/1500x1500_crop-north-force.jpg);
}

.banner .card:nth-of-type(3) .image-holder{
    background-image: url(https://flyers.smartcanucks.ca/uploads/pages/240413/walmart-on-flyer-april-11-to-171-1.jpg);
}

.banner2{
    /*border: 1px solid #000; */
    padding: 10px 0;
}

.banner2-card-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.card2{
    background: #49525d;
	box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
    position: relative;
    margin-bottom: 10px;
    padding: 5px 5px;
}

.heart2{
    background: url(heart.png);
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.image-holder2{
    height: 150px;
    background-position: top;
    background-size: cover;
}

.text-holder2 h3{
    color: #fff;
}

.text-holder2 p{
    color: #72e1af;
    font-size: 15px;
}

.text-holder2{
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner2 .card2:nth-of-type(1) .image-holder2{
    background-image: url(https://flyers.smartcanucks.ca/uploads/pages/230552/metro-on-flyer-november-16-to-221-1.jpg);
}

.banner2 .card2:nth-of-type(2) .image-holder2{
    background-image: url(https://flyerify.com/images/offers/617652/giant-tiger-on-flyer-march-15-to-21-1-max.jpg);
}

.banner2 .card2:nth-of-type(3) .image-holder2{
    background-image: url(https://flyerseek.com/wp-content/uploads/2024/03/provigo-flyer-canada-april-18-24-5.webp);
}

.banner2 .card2:nth-of-type(4) .image-holder2{
    background-image: url(https://flyers.smartcanucks.ca/uploads/pages/240779/iga-qc-flyer-april-18-to-241-1.jpg);
}